<!-- MASTHEAD -->
<header class="masthead">
  <hr class="masthead-top-rule">
  <div class="masthead-title">{{ site.title | escape }}</div>
  <div class="masthead-subtitle">{{ site.description | escape }}</div>
  <hr class="masthead-bottom-rule">
</header>

<!-- NAV BAR -->
<nav class="site-nav">
  <a href="#" onclick="showHome(); return false;">Home</a>
  <a href="#" onclick="showMembers(); return false;">Ask LoveBites</a>
  <a href="#" onclick="showArchives(); return false;">Archives</a>
</nav>


